@import "../../Config/colors";

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  font-weight: bold;
  border-radius: 15px;

  &:hover {
    //TODO: Add animation - it's not look good in the settings screen
    transform: scale(1.2);
  }

  &:focus {
    outline: none;
  }
}

.BTN-standard {
  $width: unquote('min(#{30rem}, 300px)');

  width: $width;
  padding: unquote('min(#{3.5rem}, 40px)') 0;
  background-color: map_get($colors, button);
  font-size: unquote('min(max(20px, #{5vw}), 40px)');
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  animation: scale 1s linear infinite;
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: calc(#{$width} / -2);
}

.BTN-audio {
   $size: 25px;
   width: $size + 10px;
   height: $size;

   &.mute {
     background: transparent url("../../../media/mute.png") no-repeat;
     background-size: cover;
   }

   &.unMute {
     background: transparent url("../../../media/unMute.png") no-repeat;
     background-size: cover;
   }
 }

.BTN-settings {
  $size: 25px;
  width: $size;
  height: $size;
  background: url("../../../media/settings.png") no-repeat;
  background-size: contain;
}

.BTN-pick-setting {
  $size: unquote('min(max(40px, #{10vw}), 80px)');

  width: calc(#{$size} * 2);
  height: calc(#{$size} * 1.2);
  background-color: map_get($colors, setting-button);
  font-size: unquote('min(max(10px, #{2.5vw}), 20px)');
}

.BTN-back {
  $size: unquote('min(max(15px, #{5vw}), 40px)');
  width: $size;
  height: $size;
  background: url("../../../media/arrow.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  margin: calc(#{$size} * 1.3) calc(#{$size} * 1.3) 0 0;
}

