h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: unquote('min(max(40px, #{12vw}), 100px)');
}

h2 {
  font-size: unquote('min(max(35px, #{10vw}), 75px)');
}

h3 {
  font-size: unquote('min(max(25px, #{8vw}), 60px)');
}

h4 {
  font-size: unquote('min(max(20px, #{5vw}), 40px)');
}

h5 {
  font-size: unquote('min(max(15px, #{3vw}), 30px)');
}
