h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: unquote('max(#{8rem}, 40px)');
}

h2 {
  font-size: unquote('max(#{6.5rem}, 35px)');
}

h3 {
  font-size: unquote('max(#{4.5rem}, 25px)');
}

h4 {
  font-size: unquote('max(#{3rem}, 20px)');
}
