$colors: (
        board: #9bde64,
        snake: red,
        snakeHead: black,
        roof: #c74756,
        button: yellow,
        text: black,

        box-shadow-dark-green: #445e3b,
        box-shadow-button: black,

        transparent-black: rgba(0, 0, 0, 0.3)
);
