@import "../Config/_colors";

.hide {
  display: none;
}

.show {
  display: flex;
}

.disable {
  opacity: 0.5;

  &:hover {
    transform: scale(1);
  }
}


.brown {
  color: map_get($colors, brown);
}