@keyframes scale {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-bg {
  from {
    background-position: right top;
  }
  to {
    background-position: left bottom;
  }
}
@keyframes shine {
  0% {
    --gradient-size: 140px;
  }
  20% {
    --gradient-size: 145px;
  }
  30% {
    --gradient-size: 150px;
  }
  40% {
    --gradient-size: 155px;
  }
  50% {
    --gradient-size: 160px;
  }
  60% {
    --gradient-size: 155px;
  }
  80% {
    --gradient-size: 150px;
  }
  90% {
    --gradient-size: 145px;
  }
  100% {
    --gradient-size: 140px;
  }
}
button {
  cursor: pointer;
  padding: 0;
  border: 0;
  font-weight: bold;
  border-radius: 15px;
}
button:hover {
  transform: scale(1.2);
}
button:focus {
  outline: none;
}

.BTN-standard {
  margin: 0 auto;
  padding: min(5rem, 40px);
  background-color: yellow;
  font-size: min(max(20px, 5vw), 40px);
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  animation: scale 1s linear infinite;
}

.BTN-audio {
  width: 35px;
  height: 25px;
}
.BTN-audio.mute {
  background: transparent url("../../../media/mute.png") no-repeat;
  background-size: cover;
}
.BTN-audio.unMute {
  background: transparent url("../../../media/unMute.png") no-repeat;
  background-size: cover;
}

.BTN-settings {
  width: 25px;
  height: 25px;
  background: url("../../../media/settings.png") no-repeat;
  background-size: contain;
}

.BTN-pick-setting {
  width: 150px;
  height: 100px;
  background-color: red;
}

.BTN-back {
  width: 40px;
  height: 40px;
  background: url("../../../media/arrow.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 40px 0 0;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: min(max(40px, 12vw), 100px);
}

h2 {
  font-size: min(max(35px, 10vw), 75px);
}

h3 {
  font-size: min(max(25px, 8vw), 60px);
}

h4 {
  font-size: min(max(20px, 5vw), 40px);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-bg {
  from {
    background-position: right top;
  }
  to {
    background-position: left bottom;
  }
}
@keyframes shine {
  0% {
    --gradient-size: 140px;
  }
  20% {
    --gradient-size: 145px;
  }
  30% {
    --gradient-size: 150px;
  }
  40% {
    --gradient-size: 155px;
  }
  50% {
    --gradient-size: 160px;
  }
  60% {
    --gradient-size: 155px;
  }
  80% {
    --gradient-size: 150px;
  }
  90% {
    --gradient-size: 145px;
  }
  100% {
    --gradient-size: 140px;
  }
}
:root {
  --gradient-size: 40px;
  --shine-width: calc(var(--gradient-size) + 5px);
  animation: shine 0.5s linear infinite;
}

.wall {
  width: 290px;
  height: 290px;
  border-width: 0 10px;
  border-style: solid;
  border-color: transparent #472100;
  position: absolute;
  perspective: 290px;
  top: calc(50% - 290px / 2);
  left: calc(50% - 290px / 2);
}
.wall:before, .wall:after {
  transition: all 0.3s linear;
  width: var(--gradient-size);
  height: 370px;
  background-position: right center;
  content: "";
  display: block;
  position: absolute;
  top: -37px;
}
.wall:before {
  background: radial-gradient(at right, #a3f6f6 10%, rgba(255, 255, 255, 0) 70%);
  left: calc(-1 * var(--shine-width) - 4px);
  transform: rotateY(60deg);
}
.wall:after {
  background: radial-gradient(at left, #a3f6f6 10%, rgba(255, 255, 255, 0) 70%);
  right: calc(-1 * var(--shine-width) - 4px);
  transform: rotateY(-60deg);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.disable {
  opacity: 0.5;
}
.disable:hover {
  transform: scale(1);
}

* {
  font-size: 1.5vw;
  font-family: Arial, serif;
  margin: 0;
}

.icon {
  cursor: pointer;
  font-size: min(max(15px, 8vw), 60px);
}

/*Flex*/
/*Grid*/
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../media/ocean.jpg") repeat;
  background-size: unset;
  animation: move-bg 100s linear infinite;
}

main {
  background-color: #fae6a0;
  border-radius: 25px;
  box-shadow: inset 2px 5px 16px 0 #faa554;
  position: relative;
  font-size: 2px;
}

section ul {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}
section h3 {
  margin-bottom: 15px;
}

#data-container {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#data-container > * {
  color: #954F0F;
}
#data-container > button {
  margin-top: 0.8%;
}

#board-container {
  background-color: #9bde64;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 5px 16px 0 #445e3b;
  border-radius: 25px;
}

.row {
  display: flex;
}

.cube {
  width: 4vw;
  max-width: 30px;
  height: 4vw;
  max-height: 30px;
}

.snake {
  background-color: red;
}

.apple {
  background: url("../media/apple.png") no-repeat center;
  background-size: cover;
}

.layout-screen {
  height: 92vw;
  max-height: 690px;
  width: 92vw;
  max-width: 690px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 25px;
  box-shadow: inset 0 0 55px 0 black;
}

.counter {
  padding-top: 7px;
}

.socialNetworks {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.socialNetworks > li:not(:first-of-type) {
  margin-left: 20px;
}
.socialNetworks > li {
  list-style-type: none;
}

/*# sourceMappingURL=app.css.map */
