@keyframes scale {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-bg {
  from {
    background-position: right top;
  }
  to {
    background-position: left bottom;
  }
}
button {
  cursor: pointer;
  padding: 0;
  border: 0;
  font-weight: bold;
  border-radius: 15px;
  transition-duration: 0.2s;
}
button:hover {
  transform: scale(1.2);
}
button:focus {
  outline: none;
}

.BTN-standard {
  width: 70%;
  height: 80px;
  margin: 0 auto;
  background-color: yellow;
  font-size: 30px;
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  animation: scale 1s linear infinite;
}

.BTN-audio {
  width: 35px;
  height: 25px;
}
.BTN-audio.mute {
  background: transparent url("../../../media/mute.png") no-repeat;
  background-size: cover;
}
.BTN-audio.unMute {
  background: transparent url("../../../media/unMute.png") no-repeat;
  background-size: cover;
}

.BTN-settings {
  width: 25px;
  height: 25px;
  background: url("../../../media/settings.png") no-repeat;
  background-size: contain;
}

.BTN-pick-setting {
  width: 150px;
  height: 100px;
  background-color: red;
}

.BTN-back {
  width: 40px;
  height: 40px;
  background: url("../../../media/arrow.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 40px 0 0;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  padding-top: 8px;
  font-size: 30px;
}

.snake {
  background-color: red;
}

.snake-head-down {
  background-color: black;
  border-radius: 0 0 50px 50px;
}

.snake-head-up {
  background-color: black;
  border-radius: 50px 50px 0 0;
}

.snake-head-right {
  background-color: black;
  border-radius: 0 50px 50px 0;
}

.snake-head-left {
  background-color: black;
  border-radius: 50px 0 0 50px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.disable {
  opacity: 0.5;
}
.disable:hover {
  transform: scale(1);
}

.brown {
  color: #954F0F;
}

/*Flex*/
/*Grid*/
* {
  font-family: Arial, serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../media/ocean.jpg") repeat;
  background-size: unset;
  animation: move-bg 100s linear infinite;
  margin: 0;
}

main {
  background-color: #fae6a0;
  border-radius: 25px;
  box-shadow: inset 2px 5px 16px 0 #faa554;
}

section ul {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}
section h3 {
  margin-bottom: 15px;
}

#data-container {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#board-container {
  background-color: #9bde64;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 5px 16px 0 #445e3b;
  border-radius: 25px;
}

.row {
  display: flex;
}

.cube {
  width: 25px;
  height: 25px;
}

.apple {
  background: url("../media/apple.png") no-repeat center;
  background-size: cover;
}

.layout-screen {
  height: 575px;
  width: 575px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 25px;
  box-shadow: inset 0 0 55px 0 black;
}

/*# sourceMappingURL=app.css.map */
