@keyframes scale {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-bg {
  from {
    background-position: right top;
  }
  to {
    background-position: left bottom;
  }
}
@keyframes shine {
  0% {
    --gradient-size: 140px;
  }
  20% {
    --gradient-size: 145px;
  }
  30% {
    --gradient-size: 150px;
  }
  40% {
    --gradient-size: 155px;
  }
  50% {
    --gradient-size: 160px;
  }
  60% {
    --gradient-size: 155px;
  }
  80% {
    --gradient-size: 150px;
  }
  90% {
    --gradient-size: 145px;
  }
  100% {
    --gradient-size: 140px;
  }
}
button {
  cursor: pointer;
  padding: 0;
  border: 0;
  font-weight: bold;
  border-radius: 15px;
}
button:hover {
  transform: scale(1.2);
}
button:focus {
  outline: none;
}

.BTN-standard {
  margin: 0 auto;
  padding: 5vw;
  background-color: yellow;
  font-size: max(4.5rem, 25px);
  box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  animation: scale 1s linear infinite;
}

.BTN-audio {
  width: 35px;
  height: 25px;
}
.BTN-audio.mute {
  background: transparent url("../../../media/mute.png") no-repeat;
  background-size: cover;
}
.BTN-audio.unMute {
  background: transparent url("../../../media/unMute.png") no-repeat;
  background-size: cover;
}

.BTN-settings {
  width: 25px;
  height: 25px;
  background: url("../../../media/settings.png") no-repeat;
  background-size: contain;
}

.BTN-pick-setting {
  width: 150px;
  height: 100px;
  background-color: red;
}

.BTN-back {
  width: 40px;
  height: 40px;
  background: url("../../../media/arrow.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 40px 0 0;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: max(8rem, 40px);
}

h2 {
  font-size: max(6.5rem, 35px);
}

h3 {
  font-size: max(4.5rem, 25px);
}

h4 {
  font-size: max(3rem, 20px);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.disable {
  opacity: 0.5;
}
.disable:hover {
  transform: scale(1);
}

* {
  font-size: 1.5vw;
  font-family: Arial, serif;
  margin: 0;
}

/*Flex*/
/*Grid*/
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../media/ocean.jpg") repeat;
  background-size: unset;
  animation: move-bg 100s linear infinite;
}

main {
  background-color: #fae6a0;
  border-radius: 25px;
  box-shadow: inset 2px 5px 16px 0 #faa554;
  position: relative;
  font-size: 2px;
}

section ul {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}
section h3 {
  margin-bottom: 15px;
}

#data-container {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#data-container > * {
  color: #954F0F;
}

#board-container {
  background-color: #9bde64;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 5px 16px 0 #445e3b;
  border-radius: 25px;
}

.row {
  display: flex;
}

.cube {
  width: 4vw;
  max-width: 35px;
  height: 4vw;
  max-height: 35px;
}

.snake {
  background-color: red;
}

.apple {
  background: url("../media/apple.png") no-repeat center;
  background-size: cover;
}

.layout-screen {
  height: 92vw;
  max-height: 805px;
  width: 92vw;
  max-width: 805px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 25px;
  box-shadow: inset 0 0 55px 0 black;
}

.counter {
  padding-top: 7px;
}

/*# sourceMappingURL=app.css.map */
