@import "Config/_colors",
        "Config/_animations";

@import "Local/Partials/_buttons",
        "Local/Partials/_titls.scss",
        "Local/_utilities",
        "Local/_reset",
        "Local/_mixins",
        "Local/_icons",
        "Local/layouts",
        "Local/_fonts";

$cube-size: 4vw;

body {
  height: 100vh;
  @include flex-center;
  background: url("../media/ocean.jpg") repeat;
  background-size: unset;
  animation: move-bg 100s linear infinite;
}

main {
  background-color: #fae6a0;
  border-radius: 25px;
  box-shadow: inset 2px 5px 16px 0 #faa554;
  position: relative;
  font-size: 2px;
}

section {
  ul {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  h3 {
    margin-bottom: 15px;
  }
}

#data-container {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  > * {
    color: #954F0F;
  }

  > button {
    margin-top: 0.8%;
  }
}

#board-container {
  background-color: map_get($colors, board);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 5px 16px 0 map_get($colors, box-shadow-dark-green);
  border-radius: 25px;
}

.row {
  display: flex;
}

.cube {
  width: $cube-size;
  max-width: 30px;
  height: $cube-size;
  max-height: 30px;
}

.snake {
  background-color: map_get($colors, snake);
}

.apple {
  background: url("../media/apple.png") no-repeat center;
  background-size: cover;
}

.layout-screen {
  $size: $cube-size * 23;
  height: $size;
  max-height: 30px * 23;
  width: $size;
  max-width: 30px * 23;
  position: relative;
  background-color: map_get($colors, transparent-black);
  margin-top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 25px;
  box-shadow: inset 0 0 55px 0 map-get($colors, box-shadow-button);
}

.counter {
  padding-top: 7px;
}

.socialNetworks {
  margin-top: 10px;
  @include flex-center;
  padding: 0;

  > li:not(:first-of-type) {
    margin-left: 20px;
  }

  > li {
    list-style-type: none;
  }
}
