@import "Config/_colors",
        "Config/_animations";

@import "Local/Partials/_buttons",
        "Local/Partials/_titls.scss",
        "Local/Partials/_portal.scss",
        "Local/Partials/_village.scss",
        "Local/_utilities",
        "Local/_reset",
        "Local/_mixins",
        "Local/_icons",
        "Local/layouts",
        "Local/_fonts";

$cube-size: unquote('min(#{4vw}, 30px)');

body {
  height: 100vh;
  @include flex-center;
  background: url("../media/ocean.jpg") repeat;
  background-size: unset;
  animation: move-bg 100s linear infinite;
  display: flex;
}

main {
  background-color:  map_get($colors, snad);
  border-radius: 25px;
  box-shadow: inset 2px 5px 16px 0  map_get($colors, box-shadow-dark-snad),
              0 0 10px 3px  map_get($colors, box-shadow-dark-snad);
  position: relative;
  font-size: 2px;
}

section {
  ul {
    height: unquote('calc(min(#{3.5vw}, 30px) * 5)');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  h3 {
    margin-bottom: 15px;
  }

  h5 {
    text-align: center;
  }
}

#data-container {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  > * {
    color: #954F0F;
  }

  > button {
    margin-top: 0.8%;
  }
}

#board-container {
  background-color: map_get($colors, board);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 5px 16px 0 map_get($colors, box-shadow-dark-green);
  border-radius: 25px;
}

.row {
  display: flex;
}

.cube {
  width: $cube-size;
  max-width: 30px;
  height: $cube-size;
  max-height: 30px;
}

.snake {
  background-color: map_get($colors, snake);
}

.apple {
  background: url("../media/apple.png") no-repeat center;
  background-size: cover;
}

.layout-screen {
  $size: calc(#{$cube-size} * 23);
  height: calc(#{$cube-size} * 18);
  max-height: 30px * 23;
  width: $size;
  max-width: 30px * 23;
  position: relative;
  background-color: map_get($colors, transparent-black);
  margin-top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 10px calc(#{$cube-size} * 5 + 10px) 10px;
  border-radius: 25px;
  box-shadow: inset 0 0 55px 0 map-get($colors, snad);
}

.counter {
  padding-top: 7px;
}

.socialNetworks {
  @include flex-center;
  padding: 0;
  margin-top: 2%;

  > li:not(:first-of-type) {
    margin-left: 20px;
  }

  > li {
    list-style-type: none;
    color: #fae6a0;
    filter:drop-shadow(1px 1px 3px map_get($colors, box-shadow-dark-snad));
  }
}
